<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CodeWiki</title>
  </head>
  <body>
    <form action="/articles" method="post">
      <input type="text" name="title" placeholder="title">
      <input type="text" name="content" placeholder="content">
      <input type="submit">
    </form>
    <form action="/articles" method="delete">
      <input type="submit">
    </form>
  </body>
</html>
